<!-- Pre Loader -->
<!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
<!-- End Pre Loader -->


<!-- Inner Banner -->
<!-- <div class="inner-banner inner-bg9">
    <div class="container">
        <div class="inner-title">
            <h3> Body & Mind </h3>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li> Body & Mind </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Inner Banner End -->
<!-- User Area -->
@if (isReservede()) {
<div class="">
    <div class="">
        <div class="">
            <h3 class="user-title"> Rezerwacja</h3>
            <form [formGroup]="reservationForm" (submit)="Submit($event)">
                <div class="">
                    <div class="col-5 ">
                        <div class="form-group">
                            <input type="text" formControlName="name" class="form-control" name="name" id="name"
                                placeholder="Imie i nazwisko">
                            <validation-message controlName="name" error="required" [isSubmitted]="isSubmitted">Imie i
                                nazwisko jest wymagany</validation-message>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <!-- <label for="password" class="form-label">Hasło</label> -->
                            <input type="email" formControlName="email" class="form-control" name="email" id="email"
                                placeholder="email">
                            <validation-message controlName="email" error="required" [isSubmitted]="isSubmitted">Email
                                jest wymagany</validation-message>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <button type="submit" class="btn btn-primary btn-lg ">Rezerwuj</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}
<!-- User Area End -->
<!-- Class Details Area -->
<div class="class-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-content">
                    <h2 class="title"> Full Body Workout </h2>
                    <div class="class-preview-img">
                        <img src="assets/images/fullworkout.jpg" alt="Class" />
                    </div>
                    <p>To jedna z najpopularniejszych form zajęć fitness, która zapewni trening mięśni całego ciała przy
                        pomocy odpowiednio dobranego zestawu ćwiczeń. Zajęcia zawierają dwie grupy ćwiczeń: siłowe,
                        które pozwalają na wyrzeźbienie mięśni oraz aerobowe, które zapewniają spalanie i redukcję
                        tkanki tłuszczowej. Na tych zajęciach wykorzystujemy różnego rodzaju przybory jak ciężarki,
                        gumy, stepy, czasem piłki i sztangi. Full Body Workout jest treningiem ogólnorozwojowym i
                        kompleksowym, skupiającym się na ćwiczeniach wszystkich partii mięśni. Trening pozytywnie
                        również wpływa na zwiększenie wydolności organizmu oraz wzmocnienie siły mięśni.</p>

                    <!-- <div class="class-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>Exercise Type</th>
                                    <th>Difficulty</th>
                                    <th>Beneficiary</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>40 Minutes</td>
                                    <td>Strength Training</td>
                                    <td>Medium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>60 Minutes</td>
                                    <td>Bodybuilding  Training</td>
                                    <td>Highest</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>120 Minutes</td>
                                    <td>Boxing Training</td>
                                    <td>Premium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>20 Minutes</td>
                                    <td>Cardio Training</td>
                                    <td>Primary</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <div class="class-article-content">
                        <h3>Dlaczego warto:</h3>

                        <ul>
                            <li><i class="flaticon-check"></i> Efektywność czasowa: Trening całego ciała pozwala na
                                zaangażowanie wszystkich głównych grup mięśniowych w jednej sesji treningowej. Dzięki
                                temu można osiągnąć znaczne efekty w krótszym czasie, co jest idealne dla osób z
                                napiętym harmonogramem.</li>
                            <li><i class="flaticon-check"></i> Wszechstronny rozwój mięśniowy: Dzięki równomiernemu
                                rozkładowi ćwiczeń na wszystkie partie ciała, Full Body Workout pomaga w zrównoważonym
                                rozwoju mięśni, co zapobiega dysproporcjom w sylwetce.
                            </li>
                            <li><i class="flaticon-check"></i> Lepsza regeneracja: Trening całego ciała zazwyczaj odbywa
                                się 2-3 razy w tygodniu, co daje odpowiedni czas na regenerację między sesjami. To z
                                kolei może prowadzić do lepszego wzrostu mięśni i mniejszego ryzyka przetrenowania.

                            </li>
                            <li><i class="flaticon-check"></i> Elastyczność w planowaniu: Full Body Workout można łatwo
                                dostosować do różnych poziomów zaawansowania, od początkujących po zaawansowanych. Można
                                go również modyfikować, zmieniając ćwiczenia, liczbę serii i powtórzeń, aby lepiej
                                dopasować do indywidualnych celów.
                            </li>
                            <li><i class="flaticon-check"></i> Poprawa funkcjonalności: Trening całego ciała angażuje
                                wiele grup mięśniowych jednocześnie, co przekłada się na lepszą koordynację ruchową i
                                zwiększenie funkcjonalności w codziennych aktywnościach.
                            </li>
                            <li><i class="flaticon-check"></i> Szybsze spalanie kalorii: Trening angażujący całe ciało,
                                zwłaszcza z użyciem ćwiczeń złożonych, może prowadzić do większego wydatku
                                energetycznego, co sprzyja redukcji tkanki tłuszczowej i utrzymaniu zdrowej masy ciała.
                            </li>
                            <li><i class="flaticon-check"></i> Poprawa kondycji: Ze względu na intensywność, Full Body
                                Workout może również wspierać poprawę kondycji i wydolności sercowo-naczyniowej.
                            </li>
                            <li><i class="flaticon-check"></i>
                                Różnorodność: Trening całego ciała można łatwo urozmaicać poprzez wprowadzanie nowych
                                ćwiczeń i technik, co sprawia, że jest mniej monotony i bardziej motywujący.

                            </li>
                            <li><i class="flaticon-check"></i>
                                Budowanie siły i wytrzymałości: Regularne angażowanie wszystkich głównych grup
                                mięśniowych przyczynia się do ogólnego wzrostu siły i wytrzymałości.

                            </li>
                            <li><i class="flaticon-check"></i>
                                Wspomaganie mobilności i elastyczności: Odpowiednio dobrane ćwiczenia mogą również pomóc
                                w poprawie mobilności i elastyczności, co jest kluczowe dla utrzymania zdrowia stawów i
                                mięśni.

                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="side-bar-area pl-20 pt-70">
                    <div class="side-bar-widget">
                        <h3 class="title">All Classes</h3>
                        <div class="side-bar-categories">
                            <ul>
                                <li>
                                    <div>
                                        <dt>Intensywność</dt>
                                        <dd>
                                            <div class="medium">średnia</div>
                                        </dd>
                                    </div>

                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Dla kogo: rozpoczynających treningi / trenujących regularnie / kobiet / mężczyzn
                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Czas trwania: 55 min
                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Efekty: Budowanie sylwetka, sprawność fizyczna, zdrowie i odporność, płaski brzuch, zgrabne pośladki, zgrabne nogi
                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Cel zajęć: Redukcja tkanki tłuszczowej, Modelowanie sylwetki, Dobra kondycja, Silne mięśnie
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="side-bar-widget">
                        <h3 class="title">Download</h3>
                        <button class="download-btn active" type="submit"><i class="flaticon-download-1"></i> Download Brochure</button>
                        <button class="download-btn" type="submit"><i class="flaticon-download-1"></i> Download Application</button>
                    </div> -->
                    <!-- </div>
            </div> -->
                </div>
            </div>
        </div>
        <!-- Class Details Area End -->