
        <!-- Pre Loader -->
        <!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
        <!-- End Pre Loader -->
        
   

        <!-- Inner Banner -->
        <!-- <div class="inner-banner inner-bg9">
            <div class="container">
                <div class="inner-title">
                    <h3> Login </h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li> Login </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!-- Inner Banner End -->

        <!-- User Area -->
        <div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="user-all-form">
                            <div class="contact-form">
                                <h3 class="user-title"> Logowanie</h3>
                                <form [formGroup]="loginForm"  (submit)="logSubmit($event)">
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                              <!-- <label for="Login" class="form-label">Login</label> -->
                                              <input type="text" formControlName="login" class="form-control" name="Login" id="Login" placeholder="Login" >
                                        <validation-message  controlName="login" error="required" [isSubmitted]="isSubmitted"  >Login jest wymagany</validation-message>

                                                <!-- <input type="text" name="name" id="name" class="form-control" required data-error="Username Or Email Address*" placeholder="Username Or Email Address*"> -->
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                              <!-- <label for="password" class="form-label">Hasło</label> -->
                                              <input type="password" formControlName="password" class="form-control" name="password" id="password" value="" placeholder="Hasło" >
                                        <validation-message  controlName="password" error="required" [isSubmitted]="isSubmitted"  >Hasło jest wymagany</validation-message>

                                            </div>
                                        </div>

                                        <div class="col-lg-12 form-condition">
                                            <div class="agree-label">
                                                <!-- <input type="checkbox" id="chb1"> -->
                                                <label for="chb1">
                                                  Nie posiadasz jeszcze konto? <a class="forget" href="/Register"> Zarejestracja </a>
                                                </label>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12">
                                          <button  type="submit" class="btn btn-primary btn-lg " >Zaloguj</button>
                                            <!-- <button type="submit" class="default-btn border-radius-5">
                                                Login Now
                                            </button> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Area End -->


     

