<!-- Pre Loader -->
<!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
<!-- End Pre Loader -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="/Home">
                        <img src="assets/images/logos/small-white-logo.png" alt="logo">
                    </a>
                </div>
                <li class="nav-item">
                    <a href="/Home" class="nav-link">
                        Home
                    </a>
                </li>
            </div>

        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="/Home">
                    <img src="assets/images/logos/logo.png" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item">
                                       <a href="portfolio.html" class="nav-link">
                                           Portfolio
                                       </a>
                                   </li>
                                   <li class="nav-item">
                                       <a href="portfolio-details.html" class="nav-link">
                                           Portfolio Details 
                                       </a>
                                   </li> -->
                                <li class="nav-item">
                                    <a href="/ReservationAdmin" class="nav-link">
                                        Dodaj Rezerwacja
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Classes
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="classes.html" class="nav-link">
                                        Classes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="class-details.html" class="nav-link">
                                        Class Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">

                            <!-- <a href="/Home" class="nav-link">
                                  Home
                              </a> -->
                        </li>
                        <!-- <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Home 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            Home One  
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">
                                            Home Two
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">
                                            Home Three
                                        </a>
                                    </li>
                                </ul>
                            </li> -->

                        <!-- <li class="nav-item">
                               <a href="#" class="nav-link dropdown-toggle active">
                                    Pages 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">
                                            About Us
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">
                                            Others
                                            <i class='bx bx-chevron-down'></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="pricing.html" class="nav-link">
                                                    Pricing Plan
                                                </a>
                                            </li>
    
                                            <li class="nav-item">
                                                <a href="bmi-calculator.html" class="nav-link">
                                                    BMI Calculator
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="our-timetable.html" class="nav-link">
                                                    Our Timetable
                                                </a>
                                            </li>
                                        </ul>
                                    </li> 

                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">
                                            Team
                                        </a>
                                    </li>

                                   

                           

                        
                         <li class="nav-item">
                                  <a href="#" class="nav-link dropdown-toggle">
                                    Blog                                   </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-1.html" class="nav-link">
                                            Blog Grid
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-2.html" class="nav-link">
                                            Blog Left Sidebar 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-3.html" class="nav-link">
                                            Blog Right Sidebar 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">
                                            Blog Details 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="author.html" class="nav-link">
                                            Author
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a href="categories.html" class="nav-link">
                                            Categories
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="tags.html" class="nav-link">
                                            Tags
                                        </a>
                                    </li>
                                </ul>
                            </li> -->

                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Contact Us
                            </a>
                        </li>
                        @if (islogin) {
                        <li class="nav-item">
                            <a href="/Login" class="nav-link">
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Register" class="nav-link">
                                Register
                            </a>
                        </li>
                        }
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <!-- <div class="optional-item">
                                <div class="search-btn">
                                    <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                        <i class='flaticon-loupe'></i>
                                    </a>
                                </div>
                            </div>
                            <div class="optional-item">
                                <a class="optional-item-cart" href="cart.html">
                                    <i class='flaticon-shopping-cart'></i>
                                    <span>2</span>
                                </a>
                            </div> -->

                        <div class="optional-item">
                            <div class="side-menu">
                                <a class="#" href="#sidebarmodal" data-bs-toggle="modal" data-bs-target="#sidebarmodal">
                                    <i class="ri-menu-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mobile-nav">
                        <div class="mobile-other d-flex align-items-center">
                            <div class="optional-item">
                                    <div class="search-btn">
                                        <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                            <i class='flaticon-loupe'></i>
                                        </a>
                                    </div>
                                </div> 
                          
                                <div class="optional-item">
                                  <a class="optional-item-cart color-ffffff" href="/Login">
                                      <i class='flaticon-shopping-cart'></i>
                                      <span>Login</span>
                                  </a>
                              </div> 
                              <div class="optional-item">
                                <a class="optional-item-cart color-ffffff" href="/Register">
                                    <i class='flaticon-shopping-cart'></i>
                                    <span>Register</span>
                                </a>
                            </div>  

                           <div class="optional-item">
                                    <div class="side-menu">
                                        <a class="#" href="#sidebarmodal" data-bs-toggle="modal" data-bs-target="#sidebarmodal">
                                            <i class="ri-menu-line"></i>
                                        </a>
                                    </div>
                                </div> 
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->




<!-- 
<nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-float bsb-tpl-navbar-sticky" data-bs-theme="dark" data-bsb-stuck-bg="bg-black" data-bsb-stuck-theme="dark">
<div class="container">

 
  <div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul id="bsb-tpl-navbar" class="navbar-nav justify-content-end flex-grow-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Login">Home</a>
        </li>
    
        <li class="nav-item ">
          <a class="nav-link text-primary" href="/Reservation">Rezerwacjauser</a>
        </li>    
           <li class="nav-item ">
          <a class="nav-link text-primary" href="/ReservationAdmin">Rezerwacja</a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link text-primary" href="/Login">Zaloguj</a>
        </li>  <li class="nav-item ">
          <a class="nav-link text-primary" href="/Register">Rejstracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="contact.html">Contact</a>
        </li> 
      </ul>
    </div>
  </div>
</div>
</nav>
-->
<router-outlet></router-outlet>