<!-- Pre Loader -->
<!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
<!-- End Pre Loader -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="/Home">
                        <img src="assets/images/logo.webp" width="50px" height="50px"  alt="logo">
                    </a>
                </div>
                <li class="nav-item">
                    <a href="/Home" class="nav-link">
                        Home
                    </a>
                </li>
                
            </div>

        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="/Home">
                    <img src="assets/images/logo.webp" width="50px" height="50px" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item">
                                       <a href="portfolio.html" class="nav-link">
                                           Portfolio
                                       </a>
                                   </li>
                                   <li class="nav-item">
                                       <a href="portfolio-details.html" class="nav-link">
                                           Portfolio Details 
                                       </a>
                                   </li> -->
                                <li class="nav-item">
                                    <a href="/ReservationAdmin" class="nav-link">
                                        Dodaj Rezerwacja
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Rodzaje zajęć
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/BodyMind" class="nav-link">
                                        Body&Mind
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/FullBodyWorkout" class="nav-link">
                                        Full Body Workout
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">

                            <a href="/AdminTrainingCreator" class="nav-link">
                                  Generator Treningów
                              </a>
                        </li>
                        <!-- <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Home 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            Home One  
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">
                                            Home Two
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">
                                            Home Three
                                        </a>
                                    </li>
                                </ul>
                            </li> -->

                       

                        <!-- <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Contact Us
                            </a>
                        </li> -->
                        @if (islogin) {
                        <li class="nav-item">
                            <a href="/Login" class="nav-link">
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Register" class="nav-link">
                                Register
                            </a>
                        </li>
                        } @else { <li (click)="logout()" class="nav-item">
                            <a  class="nav-link">
                                Wyloguj
                            </a>
                        </li>}
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <!-- <div class="optional-item">
                                <div class="search-btn">
                                    <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                        <i class='flaticon-loupe'></i>
                                    </a>
                                </div>
                            </div>
                            <div class="optional-item">
                                <a class="optional-item-cart" href="cart.html">
                                    <i class='flaticon-shopping-cart'></i>
                                    <span>2</span>
                                </a>
                            </div> -->

                        <div class="optional-item">
                            <div class="side-menu">
                                <a class="#" href="#sidebarmodal" data-bs-toggle="modal" data-bs-target="#sidebarmodal">
                                    <i class="ri-menu-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mobile-nav">
                        <div class="mobile-other d-flex align-items-center">
                            <div class="optional-item">
                                    <div class="search-btn">
                                        <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                            <i class='flaticon-loupe'></i>
                                        </a>
                                    </div>
                                </div> 
                          
                                <div class="optional-item">
                                  <a class="optional-item-cart color-ffffff" href="/Login">
                                      <i class='flaticon-shopping-cart'></i>
                                      <span>Login</span>
                                  </a>
                              </div> 
                              <div class="optional-item">
                                <a class="optional-item-cart color-ffffff" href="/Register">
                                    <i class='flaticon-shopping-cart'></i>
                                    <span>Register</span>
                                </a>
                            </div>  

                           <div class="optional-item">
                                    <div class="side-menu">
                                        <a class="#" href="#sidebarmodal" data-bs-toggle="modal" data-bs-target="#sidebarmodal">
                                            <i class="ri-menu-line"></i>
                                        </a>
                                    </div>
                                </div> 
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->




<router-outlet></router-outlet>