
        <!-- Pre Loader -->
        <!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
        <!-- End Pre Loader -->
        
       
 <!-- Inner Banner -->
 <div class="inner-banner inner-bg9">
    <div class="container">
        <div class="inner-title">
            <h3> Body & Mind </h3>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li> Body & Mind </li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->
<!-- User Area -->
        <div class="row align-items-center justify-content-center">
                <div class="user-all-form">
                    <div class="contact-form">
                        <h3 class="user-title"> Rezerwacja</h3>
                        <form [formGroup]="reservationForm"  (submit)="Submit($event)">
                            <div class="">
                                <div class="col-5 ">
                                    <div class="form-group">
                                      <input type="text" formControlName="name" class="form-control" name="name" id="name" placeholder="Imie i nazwisko" >
                                <validation-message  controlName="name" error="required" [isSubmitted]="isSubmitted"  >Imie i nazwisko jest wymagany</validation-message>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                      <!-- <label for="password" class="form-label">Hasło</label> -->
                                      <input type="email" formControlName="email" class="form-control" name="email" id="email"  placeholder="email" >
                                <validation-message  controlName="email" error="required" [isSubmitted]="isSubmitted"  >Email jest wymagany</validation-message>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1">
                                  <button  type="submit" class="btn btn-primary btn-lg " >Rezerwuj</button>
                               
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!-- User Area End -->
<!-- Class Details Area -->
<div class="class-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-content">
                    <h2 class="title">Boxing For Men & Women</h2>
                    <div class="class-preview-img">
                        <img src="assets/images/class-img/class-details.jpg" alt="Class" />
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore.Sed do eiusmod tempor incididunt ut labore et dolore,magna aliqua. Ut enim ad minim, incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius </p>
                    <div class="class-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>Exercise Type</th>
                                    <th>Difficulty</th>
                                    <th>Beneficiary</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>40 Minutes</td>
                                    <td>Strength Training</td>
                                    <td>Medium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>60 Minutes</td>
                                    <td>Bodybuilding  Training</td>
                                    <td>Highest</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>120 Minutes</td>
                                    <td>Boxing Training</td>
                                    <td>Premium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>20 Minutes</td>
                                    <td>Cardio Training</td>
                                    <td>Primary</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="class-article-content">
                        <h3>Why Need Boxing ?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius </p>
                        <ul>
                            <li><i class="flaticon-check"></i> Duis quis odio quis dui sagittis laoreet.</li>
                            <li><i class="flaticon-check"></i> Suspendisse tempus felis a libero mollis ultrices.</li>
                            <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li><i class="flaticon-check"></i> Suspendisse tempus felis a libero mollis ultrices. </li>
                            <li><i class="flaticon-check"></i> Proin sit amet diam et elit dictum sodales. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="side-bar-area pl-20">
                    <div class="side-bar-widget">
                        <h3 class="title">All Classes</h3>
                        <div class="side-bar-categories">
                            <ul>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Boxing For Men & Women
                                    </a>
                                </li>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Strength Training For Men
                                    </a>
                                </li>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Cardio Training For Women
                                    </a>
                                </li>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Boxing High Intensity Training
                                    </a>
                                </li>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Bodybuilding Training Sessions
                                    </a>
                                </li>
                                <li>
                                    <a href="categories.html" target="_blank">
                                        <i class='flaticon-double-chevron'></i>
                                        Cardio & Strategic Self Defense
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Download</h3>
                        <button class="download-btn active" type="submit"><i class="flaticon-download-1"></i> Download Brochure</button>
                        <button class="download-btn" type="submit"><i class="flaticon-download-1"></i> Download Application</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class Details Area End -->