<!-- Pre Loader -->
<!-- <div id="preloader">
            <div id="preloader-area">
                <div class="pre-line pre-line-1"></div>
                <div class="pre-line pre-line-2"></div>
                <div class="pre-line pre-line-3"></div>
                <div class="pre-line pre-line-4"></div>
                <div class="pre-line pre-line-5"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div> -->
<!-- End Pre Loader -->


<!-- Inner Banner -->
<!-- <div class="inner-banner inner-bg9">
    <div class="container">
        <div class="inner-title">
            <h3> Body & Mind </h3>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li> Body & Mind </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Inner Banner End -->
<!-- User Area -->

@if (isReservede()) {
    <!-- Appointment Area -->
    <div class="appointment-area ptb-100">
      <div class="container">
          <form class="appointment-form" [formGroup]="reservationForm" (submit)="Submit($event)">
              <div class="row align-items-center">
                  <div class="col-lg-3">

                          <div class="form-group">
                          <label>Imie i nazwisko</label>

                              <input type="text" formControlName="name" class="form-control" name="name" id="name"
                                  placeholder="Imie i nazwisko">
                              <validation-message controlName="name" error="required" [isSubmitted]="isSubmitted">Imie i
                                  nazwisko jest wymagany</validation-message>
                          </div>
                       
                  </div>

                  <div class="col-lg-3">
                      <div class="form-group">
                          <label>Adres e-mail</label>
                          <input type="email" formControlName="email" class="form-control" name="email" id="email"
                              placeholder="email">
                          <validation-message controlName="email " error="required" [isSubmitted]="isSubmitted">Adres e-mail</validation-message>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <button type="submit" class="default-btn">
                          Rezerwuj
                      </button>
                  </div>
              </div>
          </form>
      </div>

  </div>
}

<!-- User Area End -->
<!-- Class Details Area -->
<div class="class-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-content">
                    <h2 class="title">Body & Mind</h2>
                    <div class="class-preview-img">
                        <img src="assets/images/mind.jpg" alt="Class" />
                    </div>
                    <p>To spokojne zajęcia na matach łączące rozciąganie i relaks. Zajęcia obejmują standardowy zestaw
                        ćwiczeniowy, który trwa do 55 minut w ramach jednej sesji. W stretchingu najważniejsza jest
                        izometryczna praca czyli szybkie spięcie mięśni, a następnie powolne ich rozluźnienie. Trening
                        charakteryzuje się niską intensywnością. Bardzo często stretching wykorzystywany jest w
                        rehabilitacji.</p>
                
                    <!-- <div class="class-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>Exercise Type</th>
                                    <th>Difficulty</th>
                                    <th>Beneficiary</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>40 Minutes</td>
                                    <td>Strength Training</td>
                                    <td>Medium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>60 Minutes</td>
                                    <td>Bodybuilding  Training</td>
                                    <td>Highest</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>120 Minutes</td>
                                    <td>Boxing Training</td>
                                    <td>Premium</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>

                                <tr>
                                    <td>20 Minutes</td>
                                    <td>Cardio Training</td>
                                    <td>Primary</td>
                                    <td>All</td>
                                    <td>Lorem ipsum </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <div class="class-article-content">
                        <h3>Dlaczego warto:</h3>
                    
                        <ul>
                            <li><i class="flaticon-check"></i> Redukcja stresu: Ćwiczenia Body&Mind, pomagają w redukcji
                                stresu poprzez skupienie na oddechu i świadomym ruchu. To prowadzi do głębszego relaksu
                                i wyciszenia umysłu.</li>
                            <li><i class="flaticon-check"></i> Poprawa elastyczności i siły: Regularne praktykowanie
                                tych ćwiczeń wzmacnia mięśnie, poprawia elastyczność i ogólną postawę ciała, co może
                                przeciwdziałać bólom pleców i innym problemom posturalnym.</li>
                            <li><i class="flaticon-check"></i> Zwiększenie świadomości ciała: Ćwiczenia te uczą większej
                                świadomości swojego ciała, co pomaga lepiej kontrolować ruchy i zapobiegać kontuzjom.
                            </li>
                            <li><i class="flaticon-check"></i> Lepsza koncentracja: Ćwiczenia Body&Mind wymagają
                                skupienia i koncentracji, co pomaga w rozwijaniu umiejętności koncentracji także poza
                                matą, na przykład w pracy czy codziennym życiu. </li>
                            <li><i class="flaticon-check"></i> Poprawa równowagi emocjonalnej: Praktyki Body&Mind często
                                obejmują elementy medytacyjne, które wspierają równowagę emocjonalną i pomagają w
                                radzeniu sobie z trudnymi emocjami. </li>
                            <li><i class="flaticon-check"></i> Lepsza jakość snu: Regularne wykonywanie tych ćwiczeń
                                może przyczynić się do lepszej jakości snu poprzez redukcję napięcia mięśniowego i
                                uspokojenie układu nerwowego. </li>
                            <li><i class="flaticon-check"></i> Zwiększenie energii i witalności: Mimo że ćwiczenia
                                Body&Mind są często spokojniejsze niż intensywne treningi kardio, potrafią znacząco
                                zwiększyć poziom energii i poprawić samopoczucie na cały dzień. </li>
                            <li><i class="flaticon-check"></i> Poprawa układu oddechowego: Ćwiczenia, które koncentrują
                                się na oddechu, mogą poprawić funkcjonowanie układu oddechowego i zwiększyć pojemność
                                płuc. </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="side-bar-area pl-20 pt-70">
                    <div class="side-bar-widget">
                        <h3 class="title">All Classes</h3>
                        <div class="side-bar-categories">
                            <ul>
                                <li>
                                    <div>
                                        <dt>Intensywność</dt>
                                        <dd>
                                            <div class="low">niska</div>
                                        </dd>
                                    </div>

                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Dla kogo: dla wszystkich / dla seniorów
                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Czas trwania: 55 min
                                </li>
                                <li>
                                    <i class='flaticon-double-chevron'></i>
                                    Efekty: redukcja stresów i napięć, zdrowe plecy, sprawność fizyczna
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- <div class="side-bar-widget">
                        <h3 class="title">Download</h3>
                        <button class="download-btn active" type="submit"><i class="flaticon-download-1"></i> Download Brochure</button>
                        <button class="download-btn" type="submit"><i class="flaticon-download-1"></i> Download Application</button>
                    </div> -->
                    <!-- </div>
            </div> -->
                </div>
            </div>
        </div>
        <!-- Class Details Area End -->